# Core dependencies
torch==2.2.0
sklearn
numpy==1.26.4
streamlit>=1.32.0
langchain>=0.1.0
langchain-anthropic>=0.1.1
langchain-groq>=0.1.0
langchain-community>=0.0.16
langchain-core>=0.1.15
langchain-huggingface>=0.0.2
langchain-text-splitters>=0.0.1
uuid
# For vector store
faiss-cpu>=1.7.4

# For web scraping
beautifulsoup4>=4.12.2
requests>=2.31.0

# For embeddings
sentence-transformers>=2.2.2

# For handling environment variables
python-dotenv>=1.0.0

# Optional dependencies for better performance
pydantic>=2.0.0
tiktoken>=0.5.1
